@import url(https://fonts.googleapis.com/css?family=Lato);

body {
    overflow-x: hidden;
    position: relative;
    font-family: Lato;
}

.service-extra.show {
    -webkit-transform: translate(-767px);
    transform: translate(-767px);
}

h2 {
    font-size: 50px;
    color: #ec1c24;
    margin-bottom: 60px;
    text-align: center;
    text-transform: uppercase;
}

.section {
    padding: 80px 0px;
}

.section p {
    text-align: center;
    font-size: 16px;
}

.section p.sidemargin {
    margin: 10px 10vw;
}

.section.large-padding {
    padding: 160px 0px;
}

.section.red p, .section.red h2{
    color: #fff;
}

.cover {
    height: calc(100vh - 100px);
    background-color: #333;
}

.cover .swiper-slide {
    background-repeat: none;
    background-position: center center;
    background-size: cover;
}

.cover .one {
    background-image: url(../img/cover1.jpg);
}

.cover .two {
    background-image: url(../img/cover2.jpg);
}

.cover .three {
    background-image: url(../img/cover3.jpg);
}

.navbar-ganti {
    height: 100px;
    width: 100%;
    background-color: #fff;
    z-index: 5;
}

.navbar-ganti .navbar-brand img {
    height: 71px;
}

.navbar-ganti .nav>li {
    padding: 25px 2px;
    text-transform: uppercase;
    transition: color 0.3s;
    font-size: 12px;
}

.navbar-ganti .nav>li a, .nav>li>a:focus {
    color: #333;
}

.nav>li>a:hover, .nav>li.active>a {
    text-decoration: none;
    background-color: #fff;
    color: #ec1c24;
}

.navbar-ganti.affix {
    top: 0;
}

.section {
    position: relative;
}

.outlier {
    position: absolute;
    top: 0;
    width: 20vw;
    height: 110%;
    background-size: contain;
    z-index: -2;
}

.left.outlier {
    background-image: url(../img/graphics/left-outlier.png);
    left: 0;
}

.right.outlier {
    background-image: url(../img/graphics/right-outlier.png);
    right: 0;
}

.red-triangles:before {
    z-index: -1;
    content: "";
    position: absolute;
    background-color: #ec1c24;
    width: 100%;
    height: 100%;
    transform: skewY(-5deg);
    top: 0;
}

.we-icon {
    margin: 60px auto 20px auto;
    display: block;
}

.service-control {
    text-align: center;    
    cursor: pointer;
    display: inline-block;
    width: 30%;
    margin: 15px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.service-control:not(.active):hover {    
    -webkit-filter: grayscale(0.7);
    filter: grayscale(0.7);
    color: #7f3939;
}

.service-control.active {    
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    color: #ec1c24;
}

.service-control h3 {
    text-transform: uppercase;
}

.control-wrapper {
    text-align: center;
}

.service {
    text-align: center;
    margin: 40px auto;
}

.service p {
    margin: 20px auto;
    color: #404041;
}

.service img {
    max-width: 100%;
}

div.outermapwrap {
    overflow: hidden;
    width: 100%;
}

.mapwrap {
    height: 600px;
    max-height: 80vh;
    width: 100%;
    margin: 60px 0px;
}

.mapwrap {
    position: relative;
    transform: rotate(-3deg) translate(-5%);
}

.googlemap {
    width: 110%;
    height: 100%;
}

.map-overlay {
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 110%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    pointer-events: none;
}

input, textarea {
    width: 100%;
    height: 63px;
    border-color: #404041;
    padding: 0px 40px 0px 20px;
    margin-bottom: 30px;
    font-size: 20px;
}

textarea {
    padding: 20px 40px 20px 20px;
    height: 200px;
    border-width: 2px;
    resize: vertical;
}

.action {
    width: 197px;
    height: 53px;
    color: #fff;
    cursor: pointer;
    background-color: #ec1c24;
}

.action:hover, .action:focus {
    text-decoration: none;
    background-color: #d41118;
    color: #fff;
}

a.action {
    padding-top: 16px;
    margin-top: 16px;
}

div.icon {    
    position: absolute;
    right: 25px;
    top: 18px;
    z-index: 5;
    background-size: contain;
    width: 28px;
    height: 25px;
}

::-webkit-input-placeholder {
   color: #ec1c24;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ec1c24;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ec1c24;  
}

:-ms-input-placeholder {  
   color: #ec1c24;  
}

input.name + div.icon {
    background: url(img/graphics/user-icon.png) no-repeat center center;    
}

input.email + div.icon {
    background: url(img/graphics/email-icon.png) no-repeat center center;
}

textarea.message + div.icon {
    background: url(img/graphics/message-icon.png) no-repeat center center;
}

.footer {
    background-color: #000;
    padding-top: 40px;
}

.footer img, .footer p, .footer-rights {
    display: block;
    margin: 10px auto;
    text-align: center;
    color: #fff;
}

.footer img {
    margin-bottom: 30px;
    max-width: 400px;
}

.footer-rights {
    margin: 40px auto 0px auto;
    padding-bottom: 4px;
}

.swiper-pagination-bullet {
    width: 30px;
    height: 8px;
    display: inline-block;
    background: #000;
    border-radius: 0;
    opacity: 1;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: -1px;
}

.swiper-pagination-bullet-active {
    background: #ec1c24;
}

.service-extra {
    position: fixed;
    top: 0;
    left: 100%;
    padding: 2vh 2vw;
    height: 100vh;
    width: 767px;
    overflow-y: auto;
    background-color: #fff;
    z-index: 5000;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    transition: transform 0.3s;
    font-size: 18px;   
}

.service-extra ul {
    list-style: none;
    padding-left: 0;
}

.service-extra li:before {
    content: "-";
    padding-right: 8px;
}

.service-extra h3 {
    color: #ec1c24;
    text-align: center;
}

.service-extra p {
    text-align: justify; 
}

.black-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 4999;
}

@media (max-width: 991px) {    
    .navbar-ganti .navbar-brand img {
        height: 50px;
        margin-top: 7px;
    }
}

@media (max-width: 767px) {
    .cover {
        height: calc(100vh - 50px);
    }
    
    .navbar-ganti {
        height: 50px;
        width: 100vw;
        max-width: 100%;
    }
    
    .navbar-ganti .navbar-brand {
        padding: 10px
    }
    
    .navbar-ganti .navbar-brand img {
        margin: 0;
        height: 30px;
    }
    
    .navbar-toggle {
        border-color: #ddd;
    }
    
    
    .navbar-nav {
        position: absolute;
        background-color: #fff;
        right: 0;
        margin-top: -2px;
        box-shadow: -1px 1px 6px #888888;
        padding-right: 20px;
        text-align: right;
    }
    
    .navbar-ganti .nav>li {
        padding: 0;
    }
    
    .navbar-toggle .icon-bar {
        background-color: #888;
    }
    
    .section {
        padding: 40px 0px;
    }
    
    .section.large-padding {
        padding: 80px 0px;
    }
    
    .section h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    
    .service-control {
        width: 27%;
        margin: 15px 0px;
    }
    
    .service-control h3 {
        font-size: 12px;
    }
    
    .service-control img {
        max-width: 70%;
    }
    
    .center-xs {
        float: none !important;
        display: block;
        margin: 15px auto;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 0;
    }

    .service-extra {
        position: fixed;
        left: 100%;
        padding: 2vh 2vw;
        height: 100vh;
        width: 80vw;
        background-color: #fafafa;
    }

    .service-extra.show {
        -webkit-transform: translate(-80vw);
        transform: translate(-80vw);
    }
}